<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/login.css">
</head>
<body>

    <style>
        header{
            width: 100%;
            height: 38vw;
            border: 1px solid rgb(0, 0, 0);
        }
    </style>
    
    <!-- OS NOMES/DETALHES DOS EVENTOS VÃO SER PEGOS DO BANCO DE DADOS -->
    <header>
        <div class="container mt-5">
            <h2>Bem-vindo ao Cerimonias!</h2>
            <br>
            <h3>Últimos Eventos</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="evento1.jpg" class="card-img-top" alt="Evento 1">
                        <div class="card-body">
                            <h5 class="card-title">Evento 1</h5>
                            <p class="card-text">Descrição do Evento 1.</p>
                            <a href="#" class="btn btn-primary">Detalhes</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="evento2.jpg" class="card-img-top" alt="Evento 2">
                        <div class="card-body">
                            <h5 class="card-title">Evento 2</h5>
                            <p class="card-text">Descrição do Evento 2.</p>
                            <a href="#" class="btn btn-primary">Detalhes</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="evento3.jpg" class="card-img-top" alt="Evento 3">
                        <div class="card-body">
                            <h5 class="card-title">Evento 3</h5>
                            <p class="card-text">Descrição do Evento 3.</p>
                            <a href="#" class="btn btn-primary">Detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </header>
    <script>

    </script>
</body>
</html>