<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .container{
            width: 20%;
            height: 100px;
            position: relative;
            bottom: 40%;
            right: 20vw;
            border: 1px solid white;
            color: red;
        }
    </style>
    <div class="container">
        <% if (typeof error_login !== 'undefined') { %>
            <div class="error_login"><%= error_login%></div>
        <% } %>

    </div>
</body>
</html>